<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main project</title>

    <link rel="stylesheet" href="style/style.css">
</head>
<body>

<div id="app">

    <div class="container">
        <header>
            <div class="filter__container">
                <form action="#">
                    <input class="filter-catalog" type="text" placeholder="Поиск по каталогу..."
                           v-model="inputText" @input="cartFilter">
                </form>
            </div>
            <div class="cart__container">
                <button class="cart-btn purp-btn" type="button"
                        @click="changeCartVisibility">Корзина</button>

                <div class="cart" :class="{hidden: !cartVisibility}">
                    <p v-show="isCartEmpty">Корзина пуста...</p>
                    <div class="cart-item"
                         v-for="cartProduct of cartProducts"
                         :data-id="cartProduct.id"
                         :key="cartProduct.id">
                        <h3>{{cartProduct.title}}</h3>
                        <img class="img-src" :src="imgSrc" :alt="cartProduct.title">
                        <p>{{cartProduct.price}} рублей</p>
                        <p>Количество: <span class="cart-item__count">{{cartProduct.count}}</span></p>
                        <button class="del-btn purp-btn"
                                :data-id="cartProduct.id" @click="deleteFromCart(cartProduct)">Убрать</button>
                    </div>

                    <p>Общая стоимость корзины: {{allPriceCart}}</p>
                </div>


            </div>
        </header>

        <main>
            <div class="products__container">
                <div class="product-item"
                     v-for="product of products"
                     :data-id="product.id"
                     :key="product.id">
                    <h3>{{product.title}}</h3>
                    <img class="img-src" :src="imgSrc" :alt="product.title">
                    <p>{{product.price}} рублей</p>
                    <button class="buy-btn purp-btn" :data-id="product.id" @click="addToCart(product)">Купить</button>
                </div>
            </div>
        </main>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script defer src="script/script.js"></script>
</body>
</html>